CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts/**
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
corrector_crystal
vgcore.168552
.vscode/settings.json
build/
asamiya
corrector
audio/
